body{
    font-family: sans-serif;
    background-color: aliceblue;
}

#navbar{
    justify-content: space-between;
    margin: auto;
    width: 100%;
    background-color: white;
    display: flex;
    text-align: center;
    overflow: hidden;
}
#logo{
    color: blue;
    width: 30%;
    font-family: sans-serif;
}
#logo h2{
    cursor: pointer;
}
#pages{
    display: flex;
    width: 40%;
    text-align: center;
    align-items: center;
}
#pg1{
    margin-left: 20px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}
#pages #pg1{
    cursor: pointer;
}
#pages #pg1:hover{
    color: red;
}


#hack{
    display: flex;
    margin: auto;
    width: 100%;
    background-color: blue;
    justify-content: center;
    padding-top: 10px;
}
#hack_div1{
    width: 40%;
}
#hack_div2{
    width: 40%;
}
#hack_div1 h2{
    color: white;
    font-size: 30px;
    width: 70%;
    line-height: 40px;
}
#hack_div1 p{
    color: white;
    font-size: 16px;
    width: 60%;
    line-height: 23px;
}
#hack_div_btn{
    padding: 8px 40px;
    border-radius: 50px;
    color: blue;
    cursor: pointer;
}
#hack_div_btn:hover{
    background-color: aliceblue;
}


#forbes{
    margin: auto;
    text-align: center;
}
#forbes2{
    font-size: 30px;
    color: blue;
    font-weight: bold;
    width: 38%;
    margin: auto;
    line-height: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#about{
    margin: auto;
    text-align: center;
    align-items: center;
}
#about2{
    font-size: 20px;
    font-weight: bold;
}
#aboutp1{
    margin: auto;
    width: 55%;
    font-size: 14px;
}
#aboutp2{
    margin: auto;
    width: 55%;
    font-size: 14px;
}
#aboutp3{
    margin: auto;
    width: 55%;
    font-size: 14px;
}


#services{
    margin: auto;
    text-align: center;
    align-items: center;
}
#services2{
    font-size: 20px;
    font-weight: bold;
}
#services_btn{
    margin: auto;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
#services_btn button{
    padding: 8px 40px;
    border-radius: 50px;
    color: black;
    cursor: pointer;
}
#services_btn button:hover{
    background-color: blue;
    color: white;
}


#club{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
#club_div1{
    width: 40%;
    margin-top: 5px;
}
#club_div2{
    width: 40%;
}
#club_div2 img{
    width: 400px;
    height: 300px;
    border-radius: 25px;
}
#club_div_btn{
    padding: 8px 40px;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 10px;
}
#club_div_btn:hover{
    color: white;
    background-color: blue;
}


#main_flex{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
#main_flex div img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#main_flex div{
    width: 28%;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
}
#main_flex div button{
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
    color: white;
    background-color: blue;
    cursor: pointer;
}
#main_flex div button:hover{
    color: black;
    background-color: white;
}
#main_flex_p1{
    font-weight: bold;
}


#dream{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
#dream div{
    width: 28%;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
}
#dream div button{
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
    color: white;
    background-color: blue;
    cursor: pointer;
}
#dream div button:hover{
    color: black;
    background-color: white;
}
#dream div img{
    width: 20%;
}
#dream div #dream_under_div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 15px;
}


#hotel{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}
#hotel div{
    width: 28%;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}
#hotel div img{
    width: 20%;
}
#paji{
    font-weight: bold;
    line-height: 8px;
}
#paji_owner{
    line-height: 0px;
    font-size: 14px;
}


#video{
     margin: auto;
     margin-top: 40px;
}
#video img{
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}


